<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558642556189-8u7aco4eu4v240mmep8naek320ic7nht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558642556189-8u7aco4eu4v240mmep8naek320ic7nht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558642556189-4i0rurrt7drsfufk785a13od0epa54dk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQqJsG6d2NrdwEgQK-3rGzpB0IFq5qyg</string>
	<key>GCM_SENDER_ID</key>
	<string>558642556189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acver.inYourBucket</string>
	<key>PROJECT_ID</key>
	<string>bucket-list-38be8</string>
	<key>STORAGE_BUCKET</key>
	<string>bucket-list-38be8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558642556189:ios:8a6d297fe62394d8e645f4</string>
</dict>
</plist>